body {
    width:98%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom:50px;
}

#table{
    padding-top: 10px;
}

#navbar{
    margin-top: 20px;  
    margin-bottom: 20px;
}

#nav{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#toolbar{
    padding-bottom: 10px;
}

.begriffcontainer, .wortlistencontainer{
    border: 1px solid gray;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#anchor{
    margin: 0px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.begriff, .wortliste{
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
    margin-bottom: 4px;
}

.linkempty, .link, .beschreibung{
    resize: none;
    margin: 0px;
}

#searchtext{
    width: 250px;
}

#abbortBtn{
    width: 15px;
    padding-top: 2px;
}

.editBtn, .delBtn, #refreshBtn, #addBtn{
    float: right;
    width: 15px;
    padding-top: 2px;
    padding-left: 5px;
}

.id, .wortlisteId, #hiddenform{
    display: none;
}

textarea{
    width: 98%;
}

#wortlisten{
    width: 100%;
}

img{
    cursor: pointer;
}

#workplace{
    width: 300px;
    margin: 0 auto;
}

#center{
    margin-top: 150px;
}

.titel{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.form{
    height: 100%;
    width: 20%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;
}

input{
    width: 100%;
}

label {
    float: left;
}

.submit {
    width: 75px;
    margin: 0;
    margin-left: 30%;
}

#logout{
    display: none;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    right: 10;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 20px;
    background-color: lightgrey;
    text-align: center;
}